.App {
  font-family: sans-serif;
  text-align: center;
}
ul {
  list-style: none;
  /* margin-left: 0; */
  /* padding-left: 0; */
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  /* content: "+"; */
  /* padding-right: 5px; */
}

.tree a {
  color: #2f88e7;
  text-decoration: none;
}
.tree button {
  border: 0;
  color: #0008;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}
.tree button:hover {
  background-color: #3e8e41;
  zoom: 1.05;
  color: white;
}
